[Unit]
Description=Analyticsbase Service
After=multi-user.target

[Service]
User=pi
Type=idle
WorkingDirectory=/home/pi/analyticsbase/
ExecStart=/home/pi/analyticsbase/target/release/analyticsbase /mnt/data/.analyticsbase.db

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target