[Unit]
Description=Analyticsbase Service
After=multi-user.target

[Service]
User=pi
Type=idle
WorkingDirectory=/home/pi/analyticsbase/
ExecStart=/home/pi/analyticsbase/target/release/analyticsbase

Restart=on-failure
RestartSec=10
StartLimitBurst=5
StartLimitInterval=100

[Install]
WantedBy=multi-user.target